<h1> Wallet Stuff </h1>

<p>Your balance is: <%= number_to_currency(@balance) %></p>

<p>You've made <%= @transaction_total %> transactions from this wallet.</p>

<a href="http://localhost:3000/transactions/">list of transactions</a>
